
* {
  /* 
  -May want to add "border-box for "box-sizing so padding does not affect width
  -Reset margin and padding 
 */
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}


body {
  /* 
    -Background color is #344a72
  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #344a72;
}

a {
  /* 
  Underlined links are ugly :)
 */
 text-decoration: none;
}

#container {
  /* 
  -Remember, margin: auto on left and right will center a block element 
  -I would also set a "max-width" for responsiveness
  -May want to add some padding
  */
  margin:30px auto;
  max-width: 400px;
  padding: 20px;
}

.form-wrap {
  /* 
    This is the white area around the form and heading, etc
  */
  background-color: aliceblue;
  padding: 15px 25px;
}

.form-wrap p {
  /* 
    May want to center these
  */
  text-align: center;
  margin-top:20px;
}


.form-wrap h1 {
  /* 
    May want to center these
  */
  text-align: center;
  margin-top: 20px;
}
.form-wrap .form-group {
  /* 
    Each label, input is wrapped in .form-group
  */
  margin-top:20px;

}

.form-wrap .form-group label {
  /* 
    Label should be turned into a block element
  */
display: block;
color: rgb(68, 65, 65);
margin-left: 3%;
}

.form-wrap .form-group input {
  /* 
    Inputs should reach accross the .form-wrap 100% and have some padding
  */
  width: 100%;
  padding: 10px;
  border: #ddd 2px solid;
  border-radius: 5px;

}

.form-wrap button {
  /* 
    Button should wrap accross 100% and display as block
    Background color for button is #49c1a2
  */
  background-color: #49c1a2;
  display: block;
  color: white;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.form-wrap button:hover {
  /* 
    Hover background color for button is #37a08e
  */
  background-color: #37a08e;

}

.form-wrap .bottom-text {
  /* 
    Bottom text is smaller
  */
  font-size: 13px;
  margin-top: 15px;
}

footer {
  /* 
  Should be centered
 */
margin: auto;
margin-top: 20px;
}

footer a {
  /* 
    Footer link color is #49c1a2
  */
  color: #49c1a2;
}

footer p {
    /* 
      Footer link color is #49c1a2
    */
text-align: center;
color: white;
}